#todos{
  max-width: 100%;
  position: relative;
  

  > div{
    overflow-x: scroll;
    position: absolute;
    height: 750px;
    max-height: 85vh;
    margin-top: 25px;
    width: 100%;
    background: #8cefff;
    padding: 2px 10px;
  }

  .todo_section{
    
    height: 100%;
    min-width: 400px;
    padding: 5px;

    &:first-child{
      margin-left: 12px;
    }

    .card{
      height: 100%;
      overflow: auto;
      border-radius: 10px 10px 0 0;

      .card-title {
        padding: 9px 12px;
        margin: 0;
        background: #eee;
    }

      .card-body{
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}
