.modal_base {
  .modal_close {
    position: absolute;
    right: -8px;
    background: red;
    opacity: 0.8;
    color: #fff;
    padding: 3px 11px 8px;
    font-size: 36px;
    top: -10px;
    z-index: 1;
  }
}
